cloudpickle==0.7.0
cycler==0.10.0
Cython==0.29.4
dask==1.1.1
decorator==4.3.0
future==0.17.1
image==1.5.27
imageio==2.5.0
iso8601==0.1.12
kiwisolver==1.0.1
logger==1.4
matplotlib==3.1.1
networkx==2.2
numpy==1.16.0
opencv-python==4.0.0.21
openni==2.3.0
packaging==19.0
Pillow==5.4.1
playsound==1.2.2
pptk==0.1.0
pynput==1.4.2
pyparsing==2.3.1
pyserial==3.4
python-dateutil==2.7.5
pytz==2018.9
PyWavelets==1.0.1
PyYAML==3.13
ruamel.yaml==0.15.89
scikit-build==0.8.1
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.0
serial==0.0.96
six==1.12.0
sklearn==0.0
speake3==0.3
toolz==0.9.0
vext==0.7.3
vext.gi==0.7.0
